.container.px-0
	.row.mx-0.justify-content-between.my-3
		.col-12.col-sm-4
			.pers-1
		.col-12.col-sm-4
			.pers-2
		.col-12.col-sm-4
			.pers-3
	.row.mx-0.py-2
		h2
			| Наше сотрудничество было успешным.
		p.lead
			span Каждому клиенту мы уделяем максимальное количество нашего времени и внимания.
			br
			| После выполнения заказа наша компания не бросает своих клиентов, Вы всегда в любое время можете обратится к нам
			| если потребуются правки или обновление информации на Вашем сайте. Мы знаем что простой Вашего сайта не приносит Вам дохода и поэтому все изменения мы выполняем оперативно.
			| Мы за успешное сотрудничество.
