.container
	.row.mx-0.flex-column.text-center
		h4
			| Ключевая особенность
		h1.display-1
			| Проектирование для лучшего будущего

	.row.mx-0.justify-content-between
		.col-12.col-sm-12.col-md-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Веб дизайн
						p.card-text.text-muted
							| Не превышайте 30% инноваций. Визуальная легкость сайта привлекает людей своей простотой восприятия информации.

		.col-12.col-sm-12.col-md-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Разработка
						p.card-text.text-muted
							| В настоящее время любая компания должна иметь собственный веб-ресурс, который будет достаточно привлекательным, удобным в пользовании и запоминаемым, чтобы успешно развивать бизнес и приносить доход.

		.col-12.col-sm-12.col-md-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Фотография
						p.card-text.text-muted
							| Фотография Вашего продукта - это миг остановленный во времени и этот "МИГ" должен вызвать желание у людей получить Ваш продукт.

	.row.mx-0.justify-content-between
		.col-12.col-sm-12.col-md-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Брендинг
						p.card-text.text-muted
							| Это настоящее искусство, требующее определенных знаний в области маркетинга и рекламы. Создать по-настоящему работающий продукт под силу далеко не каждому специалисту.

		.col-12.col-sm-12.col-md-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Маркентинг
						p.card-text.text-muted
							| Кто знает секреты маркетинга, тот имеет самый качественный маркетинг и продает больше других.

		.col-12.col-sm-12.col-md-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Поддержка
						p.card-text.text-muted
							| Есть 8 секретов идеальной службы поддержки пользователей и один из них важен для Нас - поддержкав онлайн-сервисе должна быть безупречной.
