extends  templates/main

block title
	title Portfolio

block content
	// 1 -3
	.container-fuild
		include header/header
	// 2 -4
	.container-fuild
		include home/home
	//	3 - 5
	.container-fuild
		include skills/skills
	//	4 -6
	.container-fuild
		include timemenedg/timemenedg
	//	5 -7
	.container-fuild
		include features/feature
	//	6 -8
	.container-fuild
		include team/team
	//	7 -9
	.container-fuild
		include ourservice/ourservice
	//	8 -10
	.container-fuild
		include creative/creative
	//	9 -11
	.container-fuild
		include contact/contact
	//	10 -12
	.container-fuild
		include footer/footer
	// 11 -13 карусель работ
	.container-fuild
		include caruselwork/caruselwork.pug
