.container
	.row
		.card-group
			.card
				img.card-img-top(src='...' alt='...')
				.card-body
					h5.card-title Card title
					p.card-text
						| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					p.card-text
						small.text-muted Last updated 3 mins ago
			.card
				img.card-img-top(src='...' alt='...')
				.card-body
					h5.card-title Card title
					p.card-text This card has supporting text below as a natural lead-in to additional content.
					p.card-text
						small.text-muted Last updated 3 mins ago
			.card
				img.card-img-top(src='...' alt='...')
				.card-body
					h5.card-title Card title
					p.card-text
						| This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
					p.card-text
						small.text-muted Last updated 3 mins ago
	.row.my-5
		.wrapper
			.carusel.col-12
				a.arrow.left(href="#")
				a.arrow.right(href="#")
				.carusel-line
					.carusel-line-item.col-12.col-sm-12(style="background: blue" ) 1
					.carusel-line-item.col-12.col-sm-12(style="background: green" ) 2
					.carusel-line-item.col-12.col-sm-12(style="background: yellow" ) 3
					.carusel-line-item.col-12.col-sm-12(style="background: pink" ) 4
					.carusel-line-item.col-12.col-sm-12(style="background: red" ) 5
					.carusel-line-item.col-12.col-sm-12(style="background: lime" ) 6
					.carusel-line-item.col-12.col-sm-12(style="background: pink" ) 7
					.carusel-line-item.col-12.col-sm-12(style="background: red" ) 8
					.carusel-line-item.col-12.col-sm-12(style="background: lime" ) 9
					.carusel-line-item.col-12.col-sm-12(style="background: red" ) 10
					.carusel-line-item.col-12.col-sm-12(style="background: lime" ) 11
					.carusel-line-item.col-12.col-sm-12(style="background: pink" ) 12
					.carusel-line-item.col-12.col-sm-12(style="background: red" ) 13
					.carusel-line-item.col-12.col-sm-12(style="background: lime" ) 14
