.container
	.row.my-5

		.wrapper
			h1 Наши проекты
			.carusel.col-12
				a.arrow.left(href="#")
				a.arrow.right(href="#")
				.carusel-line
					.carusel-line-item.col-12.col-sm-12
					.carusel-line-item.col-12.col-sm-12
					.carusel-line-item.col-12.col-sm-12
