.container.py-2
  .row
    .col-12.col-sm-6.timemenedg_foto

    .col-12.col-sm-6.timemenedg_notebook
      img(src="./img/notebook.jpg").col-10.col-sm-6
      p
        h3.display-5
          | 2 Секрета управления временем
      br
      p
        h6.display-6
          | Сначала самое сложное.
          br
          | Избегайте “ловушки времени”
