section.container
	.row.mx-0.flex-column.text-center.mb-3
		h4.display-4
			|	Наш драйв
		p.lead
			|	Сделать лучшую работу!

	.row.justify-content-between.mb-2
		div
		div.mx-2
		div
	.row
		div.mr-1
		div.ml-1
